<%- include('../partials/header', { title: "Reset Password" }) %>
<link
  rel="stylesheet"
  href="/css/common.css"
>
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/user/login.css">
<% if (error) { %>
  <div class="error-message">
    <%= error %>
  </div>
<% } %>
<div class="main-container">

  <div class="left-section">
    <div class="illustration-placeholder">
      <img src="/images/logo.png" class="logo-img">
    </div>
  </div>

  <div class="right-section">
    <div class="login-card">

      <h2>Reset Password</h2>

      <% if (error) { %>
        <div class="error-message">
          <%= error %>
        </div>
      <% } %>

      <form action="/reset-password" method="POST">

        <!-- Hidden email -->
        <input type="hidden" name="email" value="<%= email %>">

        <div class="input-group">
          <label>New Password</label>
          <input type="password" name="password" required>
        </div>

        <div class="input-group">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" required>
        </div>

        <button type="submit" class="login-btn">
          Reset Password
        </button>

      </form>

    </div>
  </div>

</div>

<%- include('../partials/footer') %>